.vs/hangout-area-dudr/FileContentIndex/bf46bce6-1ac3-4d71-97ad-77c7f1c8a7ed.vsidx
.vs/hangout-area-dudr/v17/.wsuo
.vs/hangout-area-dudr/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
